body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: #f5f5f5;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 80%; 
  justify-content: flex-start;
  align-items: flex-start;
}

select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  align-self: flex-start;
  margin-right: auto;
}

dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

dl:nth-child(even) {
  background-color: #f9f9f9;
}

dt, dd {
  flex: 1;
  padding: 10px;
}

dt {
  font-weight: bold;
  flex-basis: 30%; 
}

dd {
  flex-basis: 70%; 
}

a {
  color: #3498db; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
